<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2020-2021</p>
                        <div class="h5">ReBootKamp</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Certificate in JAVASCRIPT FULL STACK SOFTWARE development</div>
                                <h4 class="category">RBK TUNISIA</h4>
                                <ul>
                                    <li>Informatic school. </li>
                                        
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2019</p>
                        <div class="h5">Electronics Training Center</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Higher technician diploma in industrial automation and IT</div>
                            <h4 class="category">Denden,Tunisia</h4>
                            <ul>
                                    <li>Electronic school.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2017</p>
                        <div class="h5">Electronics Training Center</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">technician diploma in industrial electronics .</div>
                                <h4 class="category">Denden,Tunisia</h4>
                                <ul>
                                        <li>Electronic school.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>                                               